doctype html

html
    head
        title VORP Problem from Introduction to Algorithms
    body
        h1 VORP Problem from Introduction to Algorithms
        h2 Results
        ol
            each value, key in team ? team : {}
                li= key