doctype html

html
    head
        title VORP Problem from Introduction to Algorithms
    body
        h1 VORP Problem from Introduction to Algorithms
        h2 Vorp:
        h2= maxVorp
        h2 Results
        each value, key in team ? team : {}
            p= team[key].position + " - " + key